* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
}


.parent{
    display: flex;
}

.sidebar{
    width: 20%;
    height: 100%; /*usando a porcentagem no 100 para a div cobrir toda a tela*/
    position: fixed;/*manter a div fixa no canto*/
    background-image: url('423137.jpg'); 
}

.sidebar-pos{
    position: absolute;/*para fixar*/
    top: 50%;/*para alinhar verticalmente*/
    transform: translateY(-50%);
}

.img-sidebar{
    text-align: center;/*para alinhar com a horizontal da div sidebar */
}

.img-sidebar img{
    width: 70%;
    border-radius: 50%;
    border: 5px solid #f8f8f2;
    padding: 5px;
}

.menu{
    margin: 20px 0;
    text-align: center;/*colocando os botoes ao centro da div*/
    margin-left: 30px;
}

.menu a{
    color: white;
    opacity: 2;
    font-size: 19px;
    text-decoration: none;/*tirar o sublinhado abaixo*/
    display: block;/*botar os botoes em cada linha*/
    margin-bottom: 20px;/*espaçamento entre os botoes, para baixo*/
    left: -20px;
    position: relative;
    
}

.menu i{
    margin-right: 5px;
}

.content{
    width: 80%;
    height: 100%;
    position: absolute;
    left: 20%;
    overflow-y: auto;
    padding: 0 3%;
    background: rgb(19, 21, 22);
     
    
}

section.descricao{
    position: relative;
    top: 50%;/*para alinhar verticalmente*/
    transform: translateY(-50%);/*para alinhar verticalmente*/
}

section.descricao h2{
    color: #05f7cc;/*gabriel*/
    font-size: 40px;
}

section.descricao h2 > span{/*aqui defini o "felipe" com duas cores e usei background e transformei para text*/
    background: -webkit-linear-gradient(45deg,#05f7cc, #47f108);/*usei 45 graus para puxar com a cor do "gabriel"*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /*https://cssgradient.io/blog/css-gradient-text/*/
}

section.descricao h3{
    color: #ffffff;
    font-size: 27px;
   margin: 15px 0;
}

section.descricao h3 > span{
    color: #3656fb;
    font-size: 25px;
}

section.descricao p{
    color: #ffffff;
    font-size: 18px;
    margin-top: 40px;
}

section.descricao p > span{
    color: rgb(6, 199, 6);
    font-size: 20px;
}

.social-icons{
    margin-top: 20px;
}

.social-icons a{
    text-decoration: none;
    color: white;
    background-color: green;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: inline-block;
    margin: 0 10px;
    text-align: center; /*para alinhar na horizontal*/
    
}

.social-icons i{/*i é como se fosse filho do a*/
    line-height: 40px; /*pode usar esses elementos ja que os icones sao texto*/
    font-size:25px;
}

.social-icons .linkedin{/*para acessar uma classe dentro da outra usa 2 pontos*/
    color: white;
    background-color: blue;
}

.social-icons .instagram{
    background: linear-gradient(45deg, #223ef2, #e220e1, #e8aa0c);
}

.social-icons .github{
    background-color: black;
}

.social-icons .h3midia{
    font-size: 20px;
}

.social-icons .h3midia > span{
    font-size: 20px;
    background: -webkit-linear-gradient(45deg,rgb(29, 253, 29),#1b02fd, #fb01d2);/*usei 45 graus para puxar com a cor do "gabriel"*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /*https://cssgradient.io/blog/css-gradient-text/*/
}

span .corgit{
    color: rgba(0, 0, 0, 0.931);
    background-color: black;
}

.social-icons .h3apresentacao{
    font-size: 20px;
}

.social-icons .corgithub{
    color: black;
    font-size: 20px;
}

.container{
    margin-top: 30px;
}
 
.card{
    
    margin-top: 10px;
}

.accordion{
    position: absolute;/*para fixar*/
    top: 50%;/*para alinhar verticalmente*/
    transform: translateY(-50%);
}
 
.organizar{
    height: 260px;
    
}

.organizar > img{
    height: 100%;
}

.accordion{
    width: 95%;
}

.pytho{
    background-color: rgb(4, 0, 255);
}
